body {
  background-color: #f4f6f8;
}

.MuiTypography-h1 {
  font-size: 1.59375rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.167;
  letter-spacing: -0.24px;
}

.MuiTypography-colorTextSecondary {
  color: #fff;
}
